PRODUCT_NAME = TilecastHostTests
PRODUCT_BUNDLE_IDENTIFIER = $(TILECAST_BUNDLE_ID).hosttests
GENERATE_INFOPLIST_FILE = YES
TEST_HOST = $(BUILT_PRODUCTS_DIR)/Tilecast.app/Tilecast
BUNDLE_LOADER = $(TEST_HOST)
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks @loader_path/Frameworks
ENABLE_TESTING_SEARCH_PATHS = YES
SWIFT_APPROACHABLE_CONCURRENCY = NO
